{
  "chainId": 8,
  "crawler": {
    "start": 0,
    "interval": "1000ms",
    "routines": 1,
    "cache": 128,
    "kafka": {
      "broker": "localhost:9092",
      "params": [
        {
          "topic": "ubiq-all",
          "addresses": [],
          "topics": []
        }
      ]
    }
  },
  "rpc": {
    "type": "http",
    "endpoint": "http://127.0.0.1:8079"
  },
  "state": {
    "path": "/Users/iquidus/blockspider/ubiq.json"
  },
  "transmute": {
    "port": 8080,
    "trustedProxies": ["127.0.0.1"],
    "alchemy": {
      "secret": "secret"
    }
  }
}
